# Ambiente*.log

.env.DS_Store

.env.*.env

!.env.cpanel.env.backup

.env.production

# Node.js.phpactor.json

node_modules/.phpunit.result.cache

frontend/node_modules//.fleet

npm-debug.log/.idea

yarn-error.log/.nova

/.phpunit.cache

# Build/.vscode

frontend/dist//.zed

/auth.json

# Logs/node_modules

*.log/public/build

error.log/public/hot

/public/storage

# OS/storage/*.key

.DS_Store/storage/pail

Thumbs.db/vendor

Homestead.json

# IDEHomestead.yaml

.vscode/Thumbs.db

.idea/
*.sublime-*
.phpactor.json

# Temporários
*.tmp
*.temp
*.cache
.phpunit.cache

# Sessões PHP
/tmp/sess_*
